#app {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
  text-align: left;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 320px;
  background-color: #0D192C;
}
.card {
  background-color: #15263F;
  width: 302px;
  display: flex;
  flex-direction: column;
  padding:20px;
  gap:1rem;
  border-radius: 10px;
}
.image_container {
  position: relative;
}
.main_image {
  width: 302px;
  height: 302px;
}
.main_image:hover {
  filter: blur(5px) brightness(50%);
  color: cyan;
  background-color: cyan;
  cursor: pointer;
}

.overlay_image {
  position:absolute;
  left: 0;
  top:0;
  color: cyan;
  background-color: cyan;
  width: 302px;
  height: 302px;
  background-size: 100%;
  opacity: 0;
}
.overlay_image:hover {
  color: cyan;
  background-color: cyan;
  opacity: 0.5;
  cursor: pointer;
}
.overlay_image:hover img{
  opacity: 0.8;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  transform: translate(-50%, -50%);
}
a {
 color:white;
 text-decoration: none;
}
a:hover {
  color: cyan;
}
.desc {
 color:#8BACD9;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content .price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: cyan;
}
.content .time {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #8bacd9;
}
.separator {
  height: 1px;
  width: 100%;
  background-color: #979797;
}
.contributor {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.contributor img {
  width: 33px;
  height: 33px;
}
.contributor div {
  color: #8BACD9;
}
